@if (TempData["success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
        @TempData["success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
        @TempData["error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
}