@model CreateProductViewModel
@{
    ViewData["Title"] = "CreateProduct";
}

<form method="post">

	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2>Create Product</h2>
			<hr />
		</div>

		<div class="mb-3">
			<label asp-for="Product.CategoryID">Category</label>
			<select asp-for="Product.CategoryID" asp-items="@(new SelectList(Model.categories, "Id", "Name"))" class="form-select" aria-label="Default select example">
				<option value="">Open this select menu</option>
			</select>
			<span asp-validation-for="Product.CategoryID" class="text-danger"></span>
		</div>


		<div class="mb-3">
			<label asp-for="Product.Name">Name</label>
			<input asp-for="Product.Name" class="form-control" />
			<span asp-validation-for="Product.Name" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Product.StockQuantity">Stock Quantity</label>
			<input asp-for="Product.StockQuantity" class="form-control" />
			<span asp-validation-for="Product.StockQuantity" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Product.Price">Price</label>
			<input asp-for="Product.Price" class="form-control" />
			<span asp-validation-for="Product.Price" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Product.Price">Price</label>
			<input asp-for="Product.Price" class="form-control" />
			<span asp-validation-for="Product.Price" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Product.ImageData">Image</label>
			<input asp-for="Product.ImageData" type="file" class="form-control-file" />
			<span asp-validation-for="Product.ImageData" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
	</div>
</form>


@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}
